<header class="relative">
    <nav>
        <ul class="flex flex-row lg:gap-1 lg:align-center justify-between lg:justify-start p-5">
            <p-drawer *ngIf="proyectosUsuario && proyectosUsuario.length > 0" #drawerRef [(visible)]="visible" position="left" [modal]="false">
                <ng-template #headless>
                    <div class="flex flex-col h-full">
                        <div class="flex flex-row justify-between px-4 pt-4">
                            <div class="flex flex-row items-start">
                                <i class="pi pi-folder p-3 pt-1.5 pr-1" style="font-size:1.75rem"></i>
                                <p class="font-semibold text-2xl pt-1 pl-3 text-primary">{{currentProject?.nombre}}</p>
                            </div>
                            <p-button type="button" (click)="onSidebarChange()" icon="pi pi-times" rounded="true"
                                outlined="true" styleClass="h-8 w-8"></p-button>
                        </div>
                        <div class="mt-8">
                            <hr class="mb-4 mx-4 border-t border-0 border-surface" />
                            <a pRipple
                                class="mt-4 mx-4 flex items-center cursor-pointer p-4 pb-2 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                <p-avatar [label]="(user.username | slice:0:1 | uppercase)" />
                                <span class="font-bold pl-2">{{user.username}}</span>
                            </a>
                        </div>
                        <div class="overflow-y-auto">
                            <ul class="list-none p-4 m-0">
                                <li>
                                    <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                        enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                        leaveActiveClass="animate-slideup" (click)="toggleProjectsMenu()"
                                        [class.active]="projectsMenuOpen"
                                        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                        <i class="pi pi-folder mr-2"></i>
                                        <span class="font-medium">Proyectos</span>
                                        <i class="pi pi-chevron-down ml-auto transition-transform duration-300"
                                            [class.rotate-180]="projectsMenuOpen"></i>
                                    </a>
                                    <ul [class.hidden]="!projectsMenuOpen"
                                        class="list-none py-0 pl-4 pr-0 m-0 overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                        <li>
                                            <div *ngFor="let proyecto of proyectosUsuario" (click)="cambiarProyecto(proyecto.idProyecto)">
                                                <a *ngIf="proyecto.idProyecto !== this.currentProject?.idProyecto else curProject" pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors transition p-ripple list-arrow-item">
                                                    <span class="font-medium">{{proyecto.nombreProyecto}}</span>
                                                </a>
                                                <ng-template #curProject>
                                                    <a (click)="toUserPage()" pRipple class="flex justify-between items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple transition">
                                                        <div>
                                                            <i class="pi pi-reply pr-2 text-sky-500" style="font-size:1rem"></i>
                                                            <span class="text-md font-medium text-sky-500">{{proyecto.nombreProyecto}}</span>
                                                        </div>
                                                    </a>
                                                </ng-template>
                                            </div>
                                            
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a pRipple (click)="toDocuments()"
                                        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                        <i *ngIf="this.router.url === '/docs'" class="pi pi-file-o mr-2 text-sky-500"></i>
                                        <i *ngIf="this.router.url === '/user'" class="pi pi-file-o mr-2"></i>
                                        <span *ngIf="this.router.url === '/docs'" class="font-medium text-sky-500">Documentos</span>
                                        <span *ngIf="this.router.url === '/user'" class="font-medium">Documentos</span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="openProjectSettings()" pRipple
                                        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                        <i class="pi pi-cog mr-2"></i>
                                        <span class="font-medium">Configuración de proyecto</span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onLogout()" pRipple
                                        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                        <i class="pi pi-sign-out mr-2"></i>
                                        <span class="font-medium">Cerrar sesión</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </p-drawer>
            <p-button *ngIf="proyectosUsuario && proyectosUsuario.length > 0" (click)="onSidebarChange()" icon="pi pi-bars" class="sidebarMove ml-[-2%] lg:mt-0 mt-[4px]"
                link="true" />
            <li>
                <h2 class="text-xl lg:pl-2 pt-[10px] text-center">Workflow Manager | <span
                        class="text-sky-500">{{user.username}}</span></h2>
            </li>
            <li>
                <p-button (click)="menu.toggle($event)" link="true" icon="pi pi-plus" size="large">
                </p-button>
            </li>
            <li class="hidden lg:block mt-2">
                <p-button (click)="onChatbarChange()" icon="pi pi-comments" rounded="true"></p-button>
            </li>
            <p-drawer *ngIf="proyectosUsuario && proyectosUsuario.length > 0" #drawerRef [(visible)]="chatVisibility" position="right" [modal]="false">
                <ng-template #headless>
                    <div class="flex flex-col h-full">
                        <div class="flex flex-row justify-between px-6 pt-6">
                            <div class="flex flex-row items-center pl-1">
                                <i class="pi pi-comments pt-1" style="font-size: 1.5rem;"></i>
                                <p class="font-semibold text-2xl pt-1 pl-3 text-primary">Chat</p>
                            </div>
                            <p-button class="pr-1" type="button" (click)="onChatbarChange()" icon="pi pi-times" rounded="true"
                                outlined="true" styleClass="h-8 w-8"></p-button>
                        </div>
                        <div class="p-6">
                            <app-chat [proyectoActual]="proyectoActual"></app-chat>
                        </div>
                        <div class="overflow-y-auto">
                            <ul class="list-none p-4 pt-0 m-0">
                                <li class="flex flex-row justify-center">
                                    <div class="flex flex-row">
                                        <p-button 
                                            label="Agregar miembros"
                                            id="agregar"
                                            *ngIf="currentProject" 
                                            (click)="op.toggle($event); loadAvailableMembers()" 
                                            icon="pi pi-users" 
                                            size="large">
                                        </p-button>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </p-drawer>
        </ul>
    </nav>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
    
    <!-- Popover para agregar miembros -->
    <p-overlayPanel #op>
        <div class="p-3" style="width: 250px">
            <h4 class="mb-3 font-bold">Agregar miembros al proyecto:</h4>
            <div *ngIf="availableMembers.length > 0; else noMembers">
                <div *ngFor="let member of availableMembers" class="field-checkbox mb-2">
                    <p-checkbox 
                        [(ngModel)]="member.selected" 
                        [binary]="true" 
                        (onChange)="updateSelectedMembers(member.id, $event.checked)"
                        inputId="{{'member-' + member.id}}">
                    </p-checkbox>
                    <label for="{{'member-' + member.id}}" class="ml-2">{{ member.name }}</label>
                </div>
                <div class="flex flex-col justify-end mt-3">
                    <p-button 
                        label="Agregar" 
                        icon="pi pi-check" 
                        size="small" 
                        (click)="confirmAddMembers()"
                        [disabled]="selectedMembers.length === 0">
                    </p-button>
                </div>
            </div>
            <ng-template #noMembers>
                <p>No hay nuevos miembros disponibles para agregar.</p>
            </ng-template>
        </div>
    </p-overlayPanel>
<p-button class="fixed lg:hidden bottom-6 right-6" (click)="onChatbarChange()" icon="pi pi-comments" rounded="true" size="large"></p-button>
</header>