<header>
    <nav>
        <ul class="flex flex-row lg:gap-3 justify-between lg:justify-start p-5">
            <li>
                <a href="#" class="fixed">
                    <i class="pi pi-bars" style="font-size: 1.5rem"></i>
                </a>
            </li>
            <li><h2 class="text-xl pl-7">Workflow Manager</h2></li>
            <li>
                <a href="#">
                    <i class="pi pi-plus" style="font-size: 1.5rem"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>