<header>
    <nav>
        <ul class="flex flex-row lg:gap-1 lg:align-center justify-between lg:justify-start p-5">
            <li>
                <p-button icon="pi pi-bars" [link]="true" class="fixed" size="large"></p-button>
            </li>
            <li><h2 class="text-xl pl-7 lg:pl-13 lg:pt-[8px]">Workflow Manager</h2></li>
            <li>
                <p-button 
                    (click)="menu.toggle($event)" 
                    link="true" 
                    icon="pi pi-plus"
                    size="large">
                </p-button>
            </li>
        </ul>
    </nav>
<p-menu #menu [popup]="true" [model]="items"></p-menu>

</header>