:root{

    /*INPUTS*/

    .p-inputtext{
        border-radius:5px;
        border:1px solid black;
        height:35px;
        padding:9px;
    }

    
    .button-main{
        border: solid 1px white;
    }
}   