<p-button variant="text">
    <p-card [style]="{ width: '17rem', overflow: 'hidden'}">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
    
        <ng-template #title> Proyecto 1 </ng-template>
    
        <ng-template #subtitle>
            <div class="flex flex-row gap-2 align-center">
                <i class="pi pi-user"></i>
                <p>Creador</p>
            </div>
        </ng-template>
    
        <span>Tareas: 1/4</span>
        <div class="progress-bar pt-2 pb-4">
            <p-progress-bar [value]="37" [style]="{height: '14px', width: '70%'}" aria-label="Estado de la tarea"></p-progress-bar>
        </div>
    
        <ng-template #footer>
            <div class="flex justify-between">
                <span class="priority-h">Prioridad alta</span>
                <span><b>·</b></span>
                <span class="">16 / Junio / 25</span>
            </div>
        </ng-template>
    </p-card>
</p-button>


