<section class="relative">
    <div class="title">
        <i class="pi pi-folder mt-1" style="font-size:1.5rem;"></i>
        <h2 class="mb-5 text-2xl font-bold">Tareas</h2>
        <!-- Botón para ampliar (solo visible cuando hay más tareas que el límite) -->
        <p-button *ngIf="tareas.length > (isMobile ? 4 : 8)" 
                (click)="ampliarTareas = !ampliarTareas"
                class="absolute right-0 top-0"
                [icon]="ampliarTareas ? 'pi pi-arrow-down-left-and-arrow-up-right-to-center' : 'pi pi-arrow-up-right-and-arrow-down-left-from-center'"
                rounded="true" size="small"
                [pTooltip]="ampliarTareas ? 'Mostrar menos' : 'Mostrar más'"
                tooltipPosition="top">
        </p-button> 
    </div>

    <div *ngIf="tareas.length > 0; else noTarea">
        <!-- Versión para móvil -->
        <div *ngIf="isMobile" class="grid grid-cols-1 gap-4">
            <app-tarjeta-tarea
                *ngFor="let tarea of ampliarTareas ? tareas : (tareas | slice:0:4); let i = index"
                [tareaData]="tarea"
                [index]="i"
                (tareaEliminada)="recargarTareas()">
            </app-tarjeta-tarea>
        </div>

        <!-- Versión para escritorio -->
        <div *ngIf="!isMobile" class="grid grid-cols-1 lg:grid-cols-4 gap-4">
            <app-tarjeta-tarea 
                *ngFor="let tarea of ampliarTareas ? tareas : (tareas | slice:0:8); let i = index"
                [tareaData]="tarea"
                [index]="i"
                (tareaEliminada)="recargarTareas()">
            </app-tarjeta-tarea>
        </div>
    </div>

    <ng-template #noTarea>
        <div (click)="crearTarea()" class="pointer-x border-2 border-dashed lg:p-15 lg:mx-[30%] p-10 text-center gap-7 rounded-lg flex flex-col justify-center items-center">
            <h2 class="font-medium text-xl">¡Prueba a añadir una nueva tarea!</h2>
            <i class="pi pi-plus" style="font-size:2.5rem"></i>
        </div>
    </ng-template>
</section>