<section class="calendar">
    
    <div class="lg:hidden m-auto">
        <div class="flex flex-row justify-center">
            <h1 class="font-bold text-center ml[-10px] lg:ml-0">Calendario</h1>
        </div>
        <div class="m-auto">
            <span class="block text-center p-3">{{ weekDayName(currentDateSelected) }}</span>
            <div class="bg-blue-500 rounded-md max-h-[20rem]">
                <p class="text-right p-3 text-lg">{{currentDateSelected | date:'dd'}}</p>
                <div *ngIf="hasEvent === false" class="border-dashed border-2 rounded-md m-3 h-[70%] p-5" (click)="showAddEventDialog(currentDateSelected)">
                    <i class="pi pi-plus"></i> Nuevo Evento
                </div>
                <div *ngIf="hasEvent === true" class="p-5 m-3 bg-gray-900 rounded-md" (click)="showEventDialog(this.displayedDays[1])">
                    <h3 class="text-2xl font-bold">{{currentEvent.titulo | titleTruncate}}</h3>
                    <p>{{currentEvent.descripcion | descTruncate}}</p>
                </div>
                <div class="arrow-buttons px-5 py-3 pb-5 flex flex-row justify-between">                
                    <p-button><i class="pi pi-angle-left" style="font-size:1.5rem;" (click)="previous()"></i></p-button>
                    <p-button><i class="pi pi-angle-right" style="font-size:1.5rem;" (click)="next()"></i></p-button>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden lg:flex flex-col align-middle max-w-full">
        <div class="arrow-buttons px-5 py-3 pb-5 flex flex-row justify-between max-w-full">                
            <p-button><i class="pi pi-angle-left" style="font-size:1.5rem;" (click)="previousBig()"></i></p-button>
            <h2 class="text-2xl font-bold">Calendario</h2>
            <p-button><i class="pi pi-angle-right" style="font-size:1.5rem;" (click)="nextBig()"></i></p-button>
        </div>
        <h3 class="text-xl font-bold">{{currentMonthSelected}}</h3>
        <div class="flex flex-row">
            <div *ngFor="let day of displayedDays">
            <div class="m-auto">
                <span class="block text-center p-3">{{ weekDayName(day.fecha) }}</span>
                <div class="bg-blue-500 border-2 rounded-md border-black">
                    <p class="text-right p-3 text-lg">{{day.fecha | date:'dd'}}</p>
                    <div class="flex flex-row justify-center">
                        <div *ngIf="day.event === null" class="border-dashed border-2 rounded-md lg:m-3 h-[70%] p-5 m-1 min-w-40 max-w-40" (click)="showAddEventDialog(day.fecha)">
                        <i class="pi pi-plus"></i> Nuevo Evento
                    </div>
                    <div *ngIf="day.event !== null" class="p-5 lg:m-3 bg-gray-900 rounded-md  m-2 min-w-40" (click)="showEventDialog(day)">
                        <h3 class="text-xl font-bold">{{day.event.titulo | titleTruncate}}</h3>
                        <p class="max-w-50">{{day.event.descripcion | descTruncate}}</p> 
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</section>
