:root{
    .dia-calendario{
        display:inline-block;
        width:100px;
        height:10rem;
    }

    .arrow-buttons{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .calendar{
        display:flex;
        justify-content: center;
    }

}

/* ::ng-deep{
    .arrow-buttons{
        .p-button{
            border-radius:999px !important;
            padding:.25rem !important;
        }
    }
} */