<div class="bg-sky-500 p-2 rounded-md overflow-hidden">

        <form class="lg:block hidden" [formGroup]="tarjetaTareaForm">
            <div class="dark:bg-gray-900 bg-sky-400 rounded-md p-3 flex flex-row justify-between">
                <h3 class="text-left font-bold">{{tareaData.titulo | tareaTitleTruncate}}</h3>
                <p-checkbox formControlName="check" binary="true" />
            </div>
            <div class="text-start p-3">
                {{tareaData.descripcion | tareaTruncate}}
            </div>
        </form>
        <form class="lg:hidden block" [formGroup]="tarjetaTareaForm">
            <div class="dark:bg-gray-900 rounded-md p-3 flex flex-row justify-between">
                <h3 class="text-left font-bold">{{tareaData.titulo}}</h3>
                <p-checkbox formControlName="check" binary="true" />
            </div>
            <div class="text-start p-3">
                {{tareaData.descripcion}}
            </div>
        </form>
    
</div>


